.cont {
  margin-left: 50px;
}

.card {
  display: grid;
  /* grid-template-columns: 300px; */
  /* grid-template-rows: 210px 210px 80px; */
  /* grid-template-areas: "image" "text" "stats";  */
  width: 300px;
  height: 400px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
}


.card .banner {
  
  top: 0;
  left:0;
  
  height: 125px;
  background-color: brown;
}
.row{
  margin-bottom: 25px;
}
.row h5  {
  margin-left: 80px;
  margin-top: -50px;
  font-weight: bolder;
}
.row p  {
  margin-left: 80px;
 margin-top: -30px;
  color: grey;

}
.card-body{
  margin-top: -30px;
}
ul li{
  text-decoration: none;
  list-style: none;
  color: black;
  margin-right: 10px;
}
.card:hover {
  transform: scale(1.08);
  box-shadow: 5px 5px 15px black;
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.bg-custom{
  background-color: brown;
}
.bg-custom p{
  margin-top: 5px;
  margin-left: 70px;
  color: gray;
  font-size: large;
  letter-spacing: 2px;
}